<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기업 메인 - 푸터</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <!-- 폰트 -->
    <link rel="stylesheet" href="/css/common/font.css">
    <!-- 공통 css 스타일 -->
    <link rel="stylesheet" href="/css/common/reset.css">
    <!-- fontawesome 꾸며진 폰트 -->
    <link rel="stylesheet" href="/css/common/fontawesome.css">
    <!-- 유틸 css -->
    <link rel="stylesheet" href="/css/common/util.css">
    <!-- 개별 css 스타일 -->
    <link rel="stylesheet" href="/css/components/footers/company-footer.css">
</head>


<body>
<!-- 푸터 영역 -->
    <div th:fragment="top">
        <div class="content-footer">
            <footer class="footer-module-container">
                <address class="footer-module-address">
                    <p>지지샵㈜</p>
                    <p>대표이사 : 홍길동</p>
                    <p>사업자등록번호 : 000-00-00000</p>
                    <p>주소 : 서울특별시 강남구 테헤란로 000, 코리아빌딩</p>
                    <p>이메일 상담: test@test.com</p>
                    <p>유선 상담: 0000-0000</p>
                    <p class="footer-module-copyright">© test Co., Ltd.</p>
                </address>
                <nav class="footer-module-terms">
                    <ul>
                        <li class="footer-module-term"><a href="#!">광고 서비스 이용약관</a></li>
                        <li class="footer-module-term"><a href="#!">개인정보 처리방침</a></li>
                    </ul>
                </nav>
            </footer>
        </div>
    </div>


</body>
</html>