<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>기업 메인 - 충전소 관리 상세</title>
        <!-- favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">

        <!-- 폰트 -->
        <link rel="stylesheet" href="/css/common/font.css" />

        <!-- 스타일 초기화 css -->
        <link rel="stylesheet" href="/css/common/reset.css" />

        <!-- 공통 css -->
        <link rel="stylesheet" href="/css/common/common.css" />

        <!-- fontawesome 꾸며진 폰트 -->
        <link rel="stylesheet" href="/css/common/fontawesome.css" />

        <!-- 유틸 css -->
        <link rel="stylesheet" href="/css/common/util.css" />

        <!-- 개별 css 스타일 -->
        <link rel="stylesheet" href="/css/company-admin/company-charger-detail.css" />

        <link type="text/css" th:href="@{/css/company-admin/top.css}" rel="stylesheet" />
        <link type="text/css" th:href="@{/css/company-admin/menu-flex.css}" rel="stylesheet" />

    </head>
    <body>

    <div th:replace="/company-admin/top::top" style="margin-bottom: 20px;"></div>


        <!-- 컨테이너 -->
        <div class="inner-content">
            <!-- 목록 헤더 영역 -->
            <div class="content-header">
                <div class="box-tit">
                    <h2 class="fz-36 fc-1 fw-bold">충전소 상세 정보</h2>
                </div>
            </div>
            <!-- 바디 영역 -->
            <div class="content-body">
                
                <!-- 탭 선택 영역 -->
                <!-- <div class="comp-tab">
                    <a class="tab selected" href="#">
                        <span class="tab-item">설치일별 조회</span>
                    </a>
                    <a class="tab" href="#">
                        <span class="tab-item">위치별 조회</span>
                    </a>
                    <a class="tab" href="#">
                        <span class="tab-item">충전량별 조회</span>
                    </a>
                </div> -->

                <!-- 선택된 탭의 내용 -->
                <div class="comp-tab-content selected">
                    <section class="wrap-section wrap-datagrid">
                        <!-- 검색 필터 영역 -->
                        <form id="filter-form">
                            <div class="wrap-filter">
                                <div class="inner-filter">
                                    <div class="box-left">

                                    <!-- 검색 종류(필터) -->
                                    <span class="select2 select2-container select2-container-default small select2-container-below select2-container-focus filter-select2" style="width: 120px">
                                        <span class="selection">
                                            <span class="select2-selection select2-selection-single">
                                                <span class="select2-selection-rendered" title="10 Row">설치일별</span>
                                                <!-- 추가 -->
                                                <span class="select2-container select2-container-default select2-container-open" style="position: absolute">
                                                    <span class="select2-dropdown small select2-dropdown-below none" style="width: 140px; margin-top: 25px;">
                                                        <span class="select2-search select2-search-dropdown select2-search-hide">
                                                            <input class="select2-search-field" type="search" />
                                                        </span>
                                                        <span class="select2-results">
                                                            <ul class="select2-results-options">
                                                                <li class="select2-results-option" data-filter-mode="installDate">설치일별</li>
                                                                <li class="select2-results-option" data-filter-mode="location">위치별</li>
                                                                <li class="select2-results-option" data-filter-mode="kwh">충전량별</li>
                                                            </ul>
                                                        </span>
                                                    </span>
                                                </span>
                                                <!-- 목록 열림 화살표 -->
                                                <span class="select2-selection-arrow">
                                                    <b></b>
                                                </span>
                                            </span>
                                        </span>
                                        <!-- 드롭다운 옵션 영역 -->
                                        <span class="dropdown-wrapper"></span>
                                    </span>

                                    </div>

                                    <div class="box-right">
                                        <button type="submit" class="btn btn-tertiary-mint btn-icon" id="filter-search-btn">
                                            조회
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- 헤더) 다운로드 버튼 영역 -->
                        <div class="box-header">
                            <div class="box-option">
                                <button type="button" class="btn btn btn-secondary-outline btn-icon">
                                    <i class="icon icon-download"></i>
                                    다운로드
                                </button>
                            </div>
                        </div>

                        <!-- 바디) 목록 영역 -->
                        <div class="box-body">
                            <div class="list-grid">
                                <div class="list-grid-inner">
                                    <div style="height: 100%; --list-line-height: 48px">
                                        <!-- AG Grid -->
                                        <div class="list-root-wrapper list-ltr list-keyboard-focus list-layout-auto-height">
                                            <div class="list-root-wrapper-body list-focus-managed list-layout-auto-height">
                                                <!-- AG Body -->
                                                <div class="list-root list-unselectable list-layout-auto-height">
                                                    <!-- 행 제목 영역 -->
                                                    <div class="list-header list-pivot-off" style="height: 26px; min-height: 26px">
                                                        <div class="list-header-viewport">
                                                            <div class="list-header-container" style="width: 1559px; transform: translateX(0px)">
                                                                <div class="list-header-row list-header-row-column" style="height: 25px; top: 0px; width: 1559px">
                                                                    <!-- #행 제목 구분 1 -->
                                                                    <div class="list-header-cell list-header-cell-sortable list-focus-managed" style="left: 0px; width: 312px">
                                                                        <div class="list-header-cell-resize"></div>
                                                                        <div class="list-cell-label-container list-header-cell-sorted-none">
                                                                            <div class="list-header-cell-label">
                                                                                <span class="list-header-cell-text">설치일자</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- #행 제목 구분 2 -->
                                                                    <div class="list-header-cell list-header-cell-sortable list-center-aligned-header list-focus-managed" style="left: 312px; width: 312px">
                                                                        <div class="list-header-cell-resize"></div>
                                                                        <div class="list-cell-label-container list-header-cell-sorted-none">
                                                                            <div class="list-header-cell-label">
                                                                                <span class="list-header-cell-text">충전소 번호</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- #행 제목 구분 3 -->
                                                                    <div class="list-header-cell list-header-cell-sortable list-center-aligned-header list-focus-managed" style="left: 624px; width: 312px">
                                                                        <div class="list-header-cell-resize"></div>
                                                                        <div class="list-cell-label-container list-header-cell-sorted-none">
                                                                            <div class="list-header-cell-label">
                                                                                <span class="list-header-cell-text">설치위치</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- #행 제목 구분 4 -->
                                                                    <div class="list-header-cell list-header-cell-sortable list-center-aligned-header list-focus-managed" style="left: 936px; width: 312px">
                                                                        <div class="list-header-cell-resize"></div>
                                                                        <div class="list-cell-label-container list-header-cell-sorted-none">
                                                                            <div class="list-header-cell-label">
                                                                                <span class="list-header-cell-text">누적 충전량(kWh)</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!-- #행 제목 구분 5 -->
                                                                    <div class="list-header-cell list-header-cell-sortable list-center-aligned-header list-focus-managed" style="left: 1248px; width: 311px">
                                                                        <div class="list-header-cell-resize"></div>
                                                                        <div class="list-cell-label-container list-header-cell-sorted-none">
                                                                            <div class="list-header-cell-label">
                                                                                <span class="list-header-cell-text">누적 충전금액(원)</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- AG Middle -->
                                                    <!-- 행 내용 영역 -->
                                                    <div class="list-body-viewport list-row-no-animation list-layout-auto-height">
                                                        <!-- AG Row Container center -->
                                                        <div class="list-center-cols-clipper" style="height: 384px">
                                                            <div class="list-center-cols-viewport" style="height: 100%">
                                                                <div class="list-center-cols-container" style="height: 384px; width: 1559px">
                                                                    <!-- 행 1 -->
                                                                    <div class="list-row-no-focus list-row list-row-level-0 list-row-position-absolute list-row-even list-row-first" style="transform: translateY(0px); height: 48px">
                                                                        <!-- 충전일자 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-center-aligned-cell list-cell-value" style="left: 0px; width: 312px">2026-01-19</div>
                                                                        <!-- 거래번호 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 312px; width: 312px">-</div>
                                                                        <!-- 고객명 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 624px; width: 312px">-</div>
                                                                        <!-- 충전기 정보/충전량(kWh) -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 936px; width: 312px">-</div>
                                                                        <!-- 결제 금액 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 1248px; width: 311px">-</div>
                                                                    </div>

                                                                    <!-- 행 2 -->
                                                                    <div class="list-row-no-focus list-row list-row-level-0 list-row-position-absolute list-row-odd" style="transform: translateY(48px); height: 48px">
                                                                        <!-- 충전일자 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-center-aligned-cell list-cell-value" style="left: 0px; width: 312px">2026-01-19</div>
                                                                        <!-- 거래번호 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 312px; width: 312px">-</div>
                                                                        <!-- 고객명 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 624px; width: 312px">-</div>
                                                                        <!-- 충전기 정보/충전량(kWh) -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 936px; width: 312px">-</div>
                                                                        <!-- 결제 금액 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 1248px; width: 311px">-</div>
                                                                    </div>

                                                                    <!-- 행 3 -->
                                                                    <div class="list-row list-row-level-0 list-row-position-absolute list-row-even list-row-no-focus" style="transform: translateY(96px); height: 48px">
                                                                        <!-- 충전일자 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-center-aligned-cell list-cell-value" style="left: 0px; width: 312px">2026-01-19</div>
                                                                        <!-- 거래번호 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 312px; width: 312px">-</div>
                                                                        <!-- 고객명 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 624px; width: 312px">-</div>
                                                                        <!-- 충전기 정보/충전량(kWh) -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 936px; width: 312px">-</div>
                                                                        <!-- 결제 금액 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 1248px; width: 311px">-</div>
                                                                    </div>

                                                                    <!-- 행 4 -->
                                                                    <div class="list-row-no-focus list-row list-row-level-0 list-row-position-absolute list-row-odd" style="transform: translateY(144px); height: 48px">
                                                                        <!-- 충전일자 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-center-aligned-cell list-cell-value" style="left: 0px; width: 312px">2026-01-19</div>
                                                                        <!-- 거래번호 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 312px; width: 312px">-</div>
                                                                        <!-- 고객명 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 624px; width: 312px">-</div>
                                                                        <!-- 충전기 정보/충전량(kWh) -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 936px; width: 312px">-</div>
                                                                        <!-- 결제 금액 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 1248px; width: 311px">-</div>
                                                                    </div>

                                                                    <!-- 행 5 -->
                                                                    <div class="list-row-no-focus list-row list-row-level-0 list-row-position-absolute list-row-even" style="transform: translateY(192px); height: 48px">
                                                                        <!-- 충전일자 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-center-aligned-cell list-cell-value" style="left: 0px; width: 312px">2026-01-19</div>
                                                                        <!-- 거래번호 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 312px; width: 312px">-</div>
                                                                        <!-- 고객명 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 624px; width: 312px">-</div>
                                                                        <!-- 충전기 정보/충전량(kWh) -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 936px; width: 312px">-</div>
                                                                        <!-- 결제 금액 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 1248px; width: 311px">-</div>
                                                                    </div>

                                                                    <!-- 행 6 -->
                                                                    <div class="list-row list-row-level-0 list-row-position-absolute list-row-odd list-row-focus" style="transform: translateY(240px); height: 48px">
                                                                        <!-- 충전일자 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-center-aligned-cell list-cell-value" style="left: 0px; width: 312px">2026-01-19</div>
                                                                        <!-- 거래번호 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 312px; width: 312px">-</div>
                                                                        <!-- 고객명 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-focus list-cell-value" style="left: 624px; width: 312px">-</div>
                                                                        <!-- 충전기 정보/충전량(kWh) -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 936px; width: 312px">-</div>
                                                                        <!-- 결제 금액 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 1248px; width: 311px">-</div>
                                                                    </div>

                                                                    <!-- 행 7 -->
                                                                    <div class="list-row-no-focus list-row list-row-level-0 list-row-position-absolute list-row-even" style="transform: translateY(288px); height: 48px">
                                                                        <!-- 충전일자 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-center-aligned-cell list-cell-value" style="left: 0px; width: 312px">2026-01-19</div>
                                                                        <!-- 거래번호 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 312px; width: 312px">-</div>
                                                                        <!-- 충전기 정보 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 624px; width: 312px">-</div>
                                                                        <!-- 충전기 정보/충전량(kWh) -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 936px; width: 312px">-</div>
                                                                        <!-- 결제 금액 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 1248px; width: 311px">-</div>
                                                                    </div>

                                                                    <!-- 행 8 -->
                                                                    <div class="list-row list-row-level-0 list-row-position-absolute list-row-odd list-row-last list-row-no-focus" style="transform: translateY(336px); height: 48px">
                                                                        <!-- 충전일자 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-center-aligned-cell list-cell-value" style="left: 0px; width: 312px">2026-01-19</div>
                                                                        <!-- 거래번호 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 312px; width: 312px">-</div>
                                                                        <!-- 충전기 정보 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 624px; width: 312px">-</div>
                                                                        <!-- 충전기 정보/충전량(kWh) -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 936px; width: 312px">-</div>
                                                                        <!-- 결제 금액 -->
                                                                        <div class="list-cell list-cell-not-inline-editing list-cell-normal-height list-right-aligned-cell list-cell-value" style="left: 1248px; width: 311px">-</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 페이지 사이즈, 페이지 이동 -->
                        <div class="box-footer">
                            <!-- 건 수 -->
                            <div class="box-left">
                                <div class="pagenation">
                                    <span class="list-total">
                                        총
                                        <em class="fw-medium">8</em>
                                        건
                                    </span>
                                </div>
                            </div>
                            <!-- 페이지 사이즈 옵션 -->
                            <div class="box-right">
                                <div class="pagenation">
                                    <!-- 페이지 사이즈 목록 -->
                                    <span class="select2 select2-container select2-container-default small select2-container-below select2-container-focus" style="width: 120px">
                                        <span class="selection">
                                            <span class="select2-selection select2-selection-single">
                                                <span class="select2-selection-rendered" title="10 Row">10 Row</span>
                                                <!-- 추가 -->
                                                <span class="select2-container select2-container-default select2-container-open" style="position: absolute">
                                                    <span class="select2-dropdown small select2-dropdown-below none" style="width: 120px">
                                                        <span class="select2-search select2-search-dropdown select2-search-hide">
                                                            <input class="select2-search-field" type="search" />
                                                        </span>
                                                        <span class="select2-results">
                                                            <ul class="select2-results-options">
                                                                <li class="select2-results-option">10 Row</li>
                                                                <li class="select2-results-option">20 Row</li>
                                                                <li class="select2-results-option">30 Row</li>
                                                                <li class="select2-results-option">40 Row</li>
                                                                <li class="select2-results-option">50 Row</li>
                                                            </ul>
                                                        </span>
                                                    </span>
                                                </span>
                                                <!-- 목록 열림 화살표 -->
                                                <span class="select2-selection-arrow">
                                                    <b></b>
                                                </span>
                                            </span>
                                        </span>
                                        <!-- 드롭다운 옵션 영역 -->
                                        <span class="dropdown-wrapper"></span>
                                    </span>

                                    <!-- 페이지 이동 -->
                                    <div class="page-nav">
                                        <!-- 처음으로 -->
                                        <button class="btn-nav first">
                                            <i class="icon"></i>
                                        </button>
                                        <!-- 이전으로 -->
                                        <button class="btn-nav prev">
                                            <i class="icon"></i>
                                        </button>
                                        <!-- 페이지 번호 -->
                                        <a href="#" class="page-num selected" data-value="1">1</a>
                                        <!-- 다음으로 -->
                                        <button class="btn-nav next">
                                            <i class="icon"></i>
                                        </button>
                                        <!-- 끝으로 -->
                                        <button class="btn-nav last">
                                            <i class="icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
    <script src="/js/company-admin/company-charger-detail.js"></script>
</html>
