<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기업 - 회원(직원) 등록</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">

    <!-- 폰트 -->
    <link rel="stylesheet" href="/css/common/font.css" />
    <link rel="stylesheet" href="/css/common/reset.css" />
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/common/fontawesome.css">
    <link rel="stylesheet" href="/css/common/util.css" />
    <link rel="stylesheet" href="/css/company-admin/company-utill.css">
    <link rel="stylesheet" href="/css/company-admin/company-employee-create.css" />
    <link type="text/css" th:href="@{/css/company-admin/top.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/css/company-admin/menu-flex.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="/company-admin/top::top" style="margin-bottom: 20px;"></div>

<main role="main">
    <div class="container flex-1 quiry-contents-box" id="page-container">
        <div class="row">
            <div class="lg:col-9">

                <!-- 헤더 -->
                <header class="mb-5 header-style page-title">
                    <h1>임직원 등록</h1>
                </header>

                <!-- 등록 폼 -->
                <div class="form height-fixed">
                    <form class="request-form"
                          th:action="@{/ev/company/write}"
                          method="post">

                        <!-- 가입일자 -->
                        <div class="form-field string required join-date">
                            <label for="join-date">가입일자</label>
                            <input type="date" id="join-date" name="joinDate" required>
                            <p class="field-hint">가입일자를 입력해주세요.</p>
                        </div>

                        <!-- 사원번호 -->
                        <div class="form-field string required employee-number">
                            <label for="employee-number">사원번호</label>
                            <input type="text" id="employee-number" name="employeeNumber" required>
                            <p class="field-hint">사원번호를 입력해주세요.</p>
                        </div>

                        <!-- 이름 -->
                        <div class="form-field string required employee-name">
                            <label for="employee-name">이름</label>
                            <input type="text" id="employee-name" name="employeeName" required>
                            <p class="field-hint">이름을 입력해주세요.</p>
                        </div>

                        <!-- 소속 부서 -->
                        <div class="form-field string required department">
                            <label for="department">소속 부서</label>
                            <input type="text" id="department" name="department" placeholder="예) 고객지원팀" required>
                            <p class="field-hint">부서명을 입력해주세요.</p>
                        </div>

                        <!-- 직급 -->
                        <div class="form-field string required position">
                            <label for="position">직급</label>
                            <input type="text" id="position" name="position" placeholder="예) 사원" required>
                            <p class="field-hint">직급을 입력해주세요.</p>
                        </div>

                        <!-- 이메일 -->
                        <div class="form-field string required email">
                            <label for="email">이메일</label>
                            <input type="email" id="email" name="email" required>
                            <p class="field-hint">이메일을 입력해주세요.</p>
                        </div>

                        <!-- 특이사항 -->
                        <div class="form-field text employee-note no-required-mark">
                            <label for="employee-note">특이사항</label>
                            <textarea name="employeeNote" id="employee-note"></textarea>
                            <p>* 추가로 확인이 필요하거나, 관리가 필요한 내용이 있을 경우 작성해주세요.</p>
                        </div>

                        <!-- 푸터 -->
                        <footer>
                            <input class="btn-cancel"
                                   type="button"
                                   value="취소"
                                   onclick="location.href='/ev/main'">
                            <input class="btn-submit"
                                   type="submit"
                                   value="등록 완료">
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>